<h1>Приветствуем на ресурсе "Чу-Чууу"</h1>

<%= link_to 'Cписок станций', railway_stations_path %>

<%= link_to 'Cписок поездов', trains_path %>

<%= link_to 'Cписок маршрутов', routes_path %>

<%= link_to 'Cписок вагонов', vagons_path %>